body {
    font-family: "Roboto", sans-serif;
    color: rgb(33, 33, 33)
}
li {
    list-style: none;
}
.header {
    font-weight: 500;
    font-size: 14px; 
}
button {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
button:hover, button:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}
.team-background-color {
    background-color:rgb(245, 244, 250)
}

.link {
    color: rgb(33, 33, 33);
    text-decoration: none
}
.link:hover {
    color: rgb(33, 150, 243);
}
.link:focus {
    color: rgb(33, 150, 243);
}
.logo {
    color: rgb(33, 150, 243);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
}
.logo:visited {
    color:rgb(33, 150, 243);

}
.index-div-under-heather-background-color {
    background-color:rgb(47, 48, 58);
}
.index-main-headline {
    font-weight: 900;
    font-size: 44px;
    color: rgb(255, 255, 255);
}
.index-other-headlines {
    font-weight: 700;
    font-size: 36px;
}
.index-table-title {
    font-weight: 700;
    font-size: 14px;
}
.index-table-content {
    font-size: 14px;
    color: rgb(117, 117, 117);
}
.index-img-title {
    font-weight: 500;
    font-size: 16px;
}
.index-img-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
}
.portfolio-img-title {
    font-weight: bold;
    font-size: 18px;
}
.portfolio-img-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
}
.footer-background-color {
    background-color: rgb(47, 48, 58);
}
.footer-font-color {
    color: rgb(255, 255, 255);
}
.footer-font-style {
    font-style: normal;
}
.footer-contact-color {
    color: rgba(255, 255, 255, 0.6); 
    font-size: 14px; 
}
.footer-mail {
    text-decoration-line: underline;
}

