:root {
    --main-bg-color: rgb(255, 255, 255); 
    --blue-feature: rgb(33, 150, 243);
    --footer-bg-color: rgb(47, 48, 58);
    --main-txt-color: rgb(33, 33, 33);
    --white-txt:rgb(255, 255, 255);
    --footer-txt-contact: rgba(255, 255, 255, 0.6);
    --main-grey: rgb(117, 117, 117);
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--main-txt-color);
}
li {
    list-style: none;
}
.header {
    font-weight: 500;
    font-size: 14px; 
}
button {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 22px;
    border-style: none;
    border-radius: 4px;
}
button:hover, button:focus {
    color: var(--white-txt);
    background-color: var(--blue-feature);
}
.team-background-color {
    background-color:var(--main-bg-color);
}

.link {
    color: var(--main-txt-color);
    text-decoration: none
}
.link:hover, .link:focus {
    color: var(--blue-feature);
}
.logo {
    color: var(--blue-feature);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
}
.logo:visited {
    color:var(--blue-feature);

}
.index-div-under-heather-background-color {
    background-color:var(--footer-bg-color);
}
.index-main-headline {
    font-weight: 900;
    font-size: 44px;
    color: var(--white-txt);
}
.index-other-headlines {
    font-weight: 700;
    font-size: 36px;
}
.index-table-title {
    font-weight: 700;
    font-size: 14px;
}
.index-table-content {
    font-size: 14px;
    color: var(--main-grey);
}
.index-img-title {
    font-weight: 500;
    font-size: 16px;
}
.index-img-description {
    color: var(--main-grey);
    font-size: 16px;
}
.portfolio-img-title {
    font-weight: bold;
    font-size: 18px;
}
.portfolio-img-description {
    color: var(--main-grey);
    font-size: 16px;
}
.footer-background-color {
    background-color: var(--footer-bg-color);
}
.footer-font-color {
    color: var(--white-txt);
}
.footer-font-style {
    font-style: normal;
}
.footer-contact-color {
    color: var(--footer-txt-contact); 
    font-size: 14px; 
}
.footer-mail {
    text-decoration-line: underline;
}

